@model IEnumerable<TechWave_Electronics.Models.ActivityLog>

@{
    ViewData["Title"] = "Activity Log";
}

<h1 class="text-center">Activity Log</h1>


<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlAccessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlAccessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
           
        </tr>
}
    </tbody>
</table>
