@model IEnumerable<TechWave_Electronics.Models.DeviceInfo>

@{
    ViewData["Title"] = "Device Info";
}

<h1 class="text-center">Device Info</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
