@model IEnumerable<TechWave_Electronics.Models.Device>

@{
    ViewData["Title"] = "Device";
}

<h1 class="text-center">Device</h1>

<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserAgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
}
    </tbody>
</table>
