@model TechWave_Electronics.Models.Warehouses

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Warehouses</h1>

<h2 class="text-center text-bg-success">Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning asp-action="Edit" asp-route-id="@ViewData["EncryptedId"]">Edit</a> |
    <a class="btn btn-outline-success" asp-action="Index">Back to List</a>
</div>
