@model IEnumerable<TechWave_Electronics.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Employee</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employeeurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incentive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Employeeurl != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Employeeurl)" alt="صورة الموظف" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <p>لا توجد صورة</p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a href="mailto:@item.Email" class="btn btn-primary"> @Html.DisplayFor(modelItem => item.Email)</a>
            </td>
            <td>
                <a href="tel:@item.Phone" class="btn btn-primary"> @Html.DisplayFor(modelItem => item.Phone)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incentive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.DepartmentName)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
